@inject IJSRuntime JSRuntime


<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(WebLayout)">
    <NotAuthorized>
        <p class="text-danger">You are not authorized to access this page. <a href="/">Back to Home</a></p>
    </NotAuthorized>
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
</AuthorizeRouteView>
<FocusOnNavigate RouteData="@routeData" Selector="h1" />

@code {
    [Parameter] public RouteData? routeData { get; set; }
    private bool? isMobile;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        isMobile = await JSRuntime.InvokeAsync<bool>("isMobile");
        await LocalStorage.SetItemAsync("isMobile", isMobile);

    }
}